APP_NAME=ecommerce-recommender-system
ENVIRONMENT=local
RANDOM_SEED=42

DATA_DIR=data
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
MODEL_DIR=models
ARTIFACTS_DIR=artifacts

LOG_LEVEL=INFO

MLFLOW_TRACKING_URI=./mlruns
MLFLOW_EXPERIMENT_NAME=ecommerce-recommender-local
